@lightblue: #3D5567;

@red: #844352;

@darkblue: #364252;

@pantoneGrey: #B5B7B7;

@greyWhite: #F2F2F2;

@greyBlack: #333333;

@greyBlackLt: #666766;

@warmGrey: #D1C7BE;

@greyLter: #CCCCCC;

@coolGrey: #DBD9D6;

@greyMd: #F2F2F2;

