body {
  overflow-x: hidden;
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #f2f2f2;
  color: #364252;
}
@font-face {
  font-family: 'Jacques';
  src: url('/fonts/JacquesGilles.otf');
  
  /*a name to be used later*/
  /*URL to font*/
}
@font-face {
  font-family: 'Dilem';
  src: url('/fonts/Dilem.ttf');
  
  /*a name to be used later*/
  /*URL to font*/
}
#monogram {
  max-width: 350px;
}
.fade {
  width: 100%;
  height: 100%;
  background-color: #364252;
}
.blue-filter {
  width: 100%;
  height: 80%;
  position: absolute;
  background: url("/img/hero.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero-img {
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #364252;
  opacity: 0.9;
}
p {
  font-family: 'Lato';
  font-size: 15px;
}
.uppercase {
  text-transform: uppercase;
}
p.small {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0;
  color: #844352;
}
h1,
h2 {
  text-transform: uppercase;
  font-family: 'Dilem';
  font-weight: 700;
}
h3 {
  font-family: 'Jacques';
  font-weight: 600;
  font-size: 2em;
  color: #844352;
}
h4 {
  padding-top: 5px;
  padding-bottom: 3px;
  text-transform: uppercase;
  font-family: 'Dilem';
  font-weight: 700;
  font-size: 2em;
}
.fa-instagram {
  color: #364252;
}
h5 {
  font-family: 'Jacques';
  font-weight: 600;
  font-size: 5em;
}
.saturday {
  column-count: 2;
}
.gallery p {
  color: #364252;
  font-size: 2em;
}
.leaf-white {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 100%;
  height: 30px;
  background: url("/img/hr-greymd.png") no-repeat center center scroll;
  -webkit-background-size: 10px;
  -moz-background-size: 10px;
  -o-background-size: 10px;
  background-size: 300px;
}
.leaf-red {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 100%;
  height: 30px;
  background: url("/img/hr-darkblue.png") no-repeat center center scroll;
  -webkit-background-size: 10px;
  -moz-background-size: 10px;
  -o-background-size: 10px;
  background-size: 300px;
}
.center-img img {
  width: 40vw;
  margin: 0 auto;
}
.btn-primary {
  color: #844352;
  background-color: transparent;
  border: none;
}
.btn-primary:hover {
  background-color: transparent;
}
.test {
  background-color: #bf4055;
}
.mapbox {
  height: 500px;
  padding: 0px;
}
.inset-shadow {
  -webkit-box-shadow: inset 0px 0px 10px 10px rgba(56, 56, 56, 0.23);
  -moz-box-shadow: inset 0px 0px 10px 10px rgba(56, 56, 56, 0.23);
  box-shadow: inset 0px 0px 10px 10px rgba(56, 56, 56, 0.23);
}
.shadow {
  -webkit-box-shadow: 0px 0px 10px 10px rgba(56, 56, 56, 0.23);
  -moz-box-shadow: 0px 0px 10px 10px rgba(56, 56, 56, 0.23);
  box-shadow: 0px 0px 10px 10px rgba(56, 56, 56, 0.23);
}
hr.heart-light:after {
  color: #f2f2f2;
  background-color: #364252;
}
hr.heart-primary {
  border-color: #844352;
}
hr.heart-primary:after {
  color: #844352;
  background-color: #f2f2f2;
}
.img-centered {
  margin: 0 auto;
}
header {
  text-align: center;
  color: #f2f2f2;
  background-color: transparent;
}
header .container {
  padding-top: 150px;
  padding-bottom: 100px;
}
header img {
  display: block;
  margin: 0 auto 20px;
}
header .intro-text .name {
  display: block;
  text-transform: uppercase;
  font-family: "Dilem";
  font-size: 9vw;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .container {
    padding-top: 170px;
    padding-bottom: 100px;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  .blue-filter {
    height: 90%;
  }
  header .intro-text .skills {
    font-size: 1.75em;
  }
  .navbar-fixed-top {
    padding: 25px 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
  }
  .navbar-fixed-top .navbar-brand {
    font-size: 2em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }
  .navbar-fixed-top.navbar-shrink {
    padding: 10px 0;
  }
}
.navbar-fixed-top.navbar-shrink .navbar-brand {
  font-size: 1.5em;
}
.navbar {
  text-transform: uppercase;
  font-family: "Dilem";
  font-size: 1.5em;
  background-color: #f2f2f2;
}
.navbar-brand {
  font-size: 6vw;
}
.navbar a:focus {
  outline: 0;
}
.navbar .navbar-nav {
  letter-spacing: 1px;
}
.navbar .navbar-nav li a:focus {
  outline: 0;
}
.navbar-default,
.navbar-inverse {
  border: 0;
  -webkit-box-shadow: 0px 6px 10px 0px rgba(54, 66, 82, 0.39);
  -moz-box-shadow: 0px 6px 10px 0px rgba(54, 66, 82, 0.39);
  box-shadow: 0px 6px 10px 0px rgba(54, 66, 82, 0.39);
}
section {
  padding: 100px 0;
}
section h2 {
  margin: 0;
  font-size: 3em;
}
section.success {
  color: #f2f2f2;
  background: #364252;
}
section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
  outline: 0;
  color: #364252;
}
@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
}
#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 400px;
}
#portfolio .portfolio-item .portfolio-link .caption {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #f2f2f2;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  font-size: 20px;
  color: #f2f2f2;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
.btn-outline {
  margin-top: 15px;
  border: solid 2px #844352;
  border-radius: 0;
  font-size: 30px;
  font-family: 'Dilem';
  text-transform: uppercase;
  color: #f2f2f2;
  background: #844352;
  transition: all 0.3s ease-in-out;
}
.btn-red {
  margin-top: 15px;
  border: solid 2px #844352;
  border-radius: 0;
  font-size: 30px;
  font-family: 'Dilem';
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #844352;
  background: 0 0;
  transition: all 0.3s ease-in-out;
}
.btn-red-outline:hover,
.btn-red-outline:focus,
.btn-red-outline:active,
.btn-red-outline.active {
  border: solid 2px #844352;
  color: #f2f2f2;
  background: #844352;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  border: solid 2px #f2f2f2;
  color: #364252;
  background: #f2f2f2;
}
.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0em;
  border-bottom: 1px solid #f2f2f2;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: 0;
  border-radius: 0;
  font-size: 1.5em;
  background: 0 0;
  border-bottom: solid 2px #844352;
  box-shadow: none!important;
  resize: none;
}
.selectButtons {
  margin-bottom: 40px;
}
.floating-label-form-group textarea {
  border-bottom: none;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0;
  color: #f2f2f2;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 1.5em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  -webkit-transition: top .3s ease,opacity .3s ease;
  -moz-transition: top .3s ease,opacity .3s ease;
  -ms-transition: top .3s ease,opacity .3s ease;
  transition: top .3s ease,opacity .3s ease;
}
.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #f2f2f2;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
  font-size: 1.5em;
}
.errormessage {
  color: #844352;
  padding-top: 10px;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #f2f2f2;
}
footer {
  color: #f2f2f2;
}
footer h3 {
  margin-bottom: 30px;
  color: #f2f2f2;
}
footer .footer-above {
  padding-top: 20px;
  background-color: #364252;
}
footer .footer-col {
  margin-bottom: 10px;
}
footer .footer-below {
  padding: 15px 0;
  background-color: #364252;
}
.btn-social {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #f2f2f2;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.btn-success {
  background-color: #844352;
}
.btn:focus,
.btn:active,
.btn.active {
  outline: 0;
}
.scroll-top {
  z-index: 1049;
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
}
.scroll-top .btn {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 28px;
}
.btn-select {
  margin-top: 15px;
  border: solid 2px #844352;
  border-radius: 0;
  font-size: 1.5vmax;
  font-family: 'Lato';
  font-weight: 300;
  text-transform: uppercase;
  color: #844352;
  background: transparent;
  transition: all 0.3s ease-in-out;
}
.group {
  margin-bottom: 30px;
}
.btn-select:hover,
.btn-select:focus,
.btn-select:active,
.btn-select.active {
  border: solid 2px #3d5567;
  color: #f2f2f2;
  background: #3d5567;
}
.btn-selected {
  border: solid 2px #364252 !important;
  background-color: #364252 !important;
  color: #f2f2f2;
}
.btn-not-selected {
  border: solid 2px #844352 !important;
  background-color: transparent !important;
  color: #844352;
}
.scroll-top .btn:focus {
  outline: 0;
}
.portfolio-modal .modal-content {
  padding: 100px 0;
  min-height: 100%;
  border: 0;
  border-radius: 0;
  text-align: center;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.portfolio-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}
.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  background-color: transparent;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: .3;
}
.portfolio-modal .close-modal .lr {
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  background-color: #f2f2f2;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.portfolio-modal .close-modal .lr .rl {
  z-index: 1052;
  width: 1px;
  height: 75px;
  background-color: #f2f2f2;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.portfolio-modal .modal-backdrop {
  display: none;
  opacity: 0;
}
.toastmaster {
  background-color: #364252;
  color: #f2f2f2;
}
.toastmaster a {
  color: white;
}
.textArea {
  background-color: white;
  padding: 15px;
  border: solid 2px #844352;
}
#rsvp p {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}
.namebox {
  margin-top: -10px;
  margin-bottom: 10px;
}
.checkboxes {
  font-size: 20px;
  color: #364252;
}
ul {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
ul li {
  list-style: none;
  margin-bottom: 25px;
}
ul li img {
  cursor: pointer;
}
